:root{
  --textColor: rgb(65,64,66);
  --btnBgColor: #3287b7;
  /* max-width: 50vw; */
}

html{
  scroll-behavior: smooth;
}

body{
  margin:0;
  padding: 0;
  font-size: 1em;
  font-family: "Neutrif Pro";
  /* max-width: 50vw; */
}

button{
  outline: none;
}

a{
  text-decoration: none !important;
}